
#pop_ly_id_div {
	height: 360px;
	overflow: hidden;
	width: 500px;
	position: fixed;
	left: 50%;
	margin: -180px 0 0 -250px;
	top: 50%;
	_position: absolute;
	z-index: 9999;
	display: none;
	border: 1px solid #ccc;
	background: #fff;
}

#pop_ly_id_div dl {
	margin: 0 auto;
	text-align: left
}

#pop_ly_id_div dl dt {
	height: 24px;
	line-height: 24px;
	text-indent: 10px;
	padding: 5px;
	background-image: url("../../images/blue-themes/sub_nav_bg.gif");
}

#pop_ly_id_div dl dt span {
	float: right;
	cursor: pointer;
	font-size: 18px;
	margin-right: 5px;
}

#pop_ly_id_div dl dd {
	padding: 10px 5px 0;
	text-indent: 30px;
	text-align: left;
}

#pop_ly_id_div input,#pop_ly_id_div textarea {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px solid #DDDDDD;
	height: 28px;
	line-height: 28px;
	width: 340px;
	color: #999;
	text-indent: 5px;
	vertical-align: middle;
	text-align: left;
}

#pop_ly_id_div textarea {
	height: 87px;
	line-height: 22px;
}

#pop_ly_id_div #msg_vcode {
	width: 80px;
}

#pop_ly_id_div dd img {
	vertical-align: middle;
	margin-left: 5px;
	height: 22px;
	width: 80px;
}