body {
	font: "ו";
	font-size: 12px;
}



}

#Tab {
	margin: 0 auto;
	width: 940px;
	border: 1px solid #BCE2F3;
}

.Menubox {
	height: 48px;
	border-bottom: 1px solid #64B8E4;
	background: #E4F2FB;
}

.Menubox ul {
	list-style: none;
	margin: 7px 40px;
	padding: 0;
	position: absolute;
}

.Menubox ul li {
	float: left;
	background: #64B8E4;
	line-height: 20px;
	display: block;
	cursor: pointer;
	width: 270px;
	font-size:16px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	border-top: 1px solid #64B8E4;
	border-left: 1px solid #64B8E4;
	border-right: 1px solid #64B8E4;
	margin-left: 5px;
	line-height: 38px;
}

.Menubox ul li.hover {
	background: #fff;
	border-bottom: 1px solid #fff;
	color: #147AB8;
}
.emaildialog ul {
	line-height: 50px;
}
.Contentbox {
	clear: both;
	margin-top: 0px;
	border-top: none;
	height: 181px;
	padding-top: 8px;
	height: 100%;
}

.Contentbox ul {
	list-style: none;
	margin: 7px;
	padding: 0;
}

.Contentbox ul li {
	line-height: 24px;
	border-bottom: 1px dotted #ccc;
}
#fill-mobile-form{
	clear: both;
	margin-top: 0px;
	border-top: none;
	height: 181px;
	padding-top: 8px;
	height: 100%;
}
.mobile_tips {
    background: url("../../images/blue-themes/reg_mobile.png") no-repeat scroll 180px center #FAFAFA;
    border: 1px solid #E2E7D0;
    padding: 50px 100px 30px 260px;
}
.mail_tips {
    background: url("../../images/blue-themes/reg_mail.png") no-repeat scroll 180px center #FAFAFA;
    border: 1px solid #E2E7D0;
    padding: 80px 100px 30px 260px;
}
.other_tips {
    background:  no-repeat scroll 180px center #FAFAFA;
    border: 1px solid #E2E7D0;
    padding: 50px 100px 30px 350px;
}

.reg_ipt {
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 0 #EAEAEA inset;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 5px;
    vertical-align: middle;
    width: 195px;
}
.email_btn{
	margin-left: 90px;	
}