.one_artic{
	width:800px;
	float:left;
	margin-left: 5px;
	margin-top:5px;
}
.artic_title{
	margin-left: 20px;
	margin-right: 20px;
}
.artic_content{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 3px;
	
}
.normal_summary {
    background-color:#CFCFCF
    height:auto;
    min-height:50px;
    margin-top: 5px;
    margin-bottom:5px;
    margin-right:5px;
    font-size: 14px;
    border: 1px solid  #ABB1D5;
    font-style: italic;
    min-width: 925px;
    
}
.news_page{
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom:0px;
	height: 30px;
	width:770px;
	float:left;
	
}
.artic_title_detail{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 15px;
	float:center;
}
.artic_author_detail{
	margin-top: 3px;
	padding-bottom:3px;
	margin-right:5px;
	float:center;
	align:center;
	border-bottom: 1px solid #ABB1D5;
}
.one_artic_detail{
	float:left;
	margin-left: 5px;
	width: 100%;
}

.artic_content_detail{
	font-size:15px;
	
}