.trade_search_condition {
	margin-top: 20px;
	height: 50px;
}
.tab_addcart{
	float: right;
	margin-top: -5px;
	display: none;
}
.trade_search_condition li {
	float: left;
	height: 40px;
	width: 200px;
	line-height: 31px;
	color: #000000;
	margin-left: 0px;
}

.product_title {
	float: left;
	font-size: 20px;
	border: 1px solid #CFCFCF;
	text-align: center;
}

.search_tab_left {
	float: left;
	background: url(../../images/blue-themes/search_tab_left_w.gif)
		no-repeat center left;
	width: 3px;
	height: 26px;
	_margin-right: -3px;
}

.search_tab_right {
	background: url(../../images/blue-themes/search_tab_right_w.gif)
		no-repeat center right;
	float: right;
	width: 3px;
	height: 26px;
	_margin-left: -3px;
}

.search_tab_content {
	background: url(../../images/blue-themes/search_tab_bg_w.gif) repeat-x;
	line-height: 26px;
	text-align: center;
	height: 26px;
}

.search_tab_focus {
	font-weight: bold;
	color: #FFFFFF;
}

.split_spx {
	border-bottom: 1px dashed #DCDCDC;
	font-size: 0;
	height: 1px;
	margin-left: 3px;
	margin-right: 3px;
}

.search_area {
	height: 100%;
}

.product_detail {
	margin-bottom: 20px;
	height: 100%;
}

.productprice {
	font-size: 14px;
	color: red;
	font-weight: bold;
}

.productinfo {
	height: 190px;
	width: 184px;
	border: 1px solid #CFCFCF;
}

.ul_product {
	padding-left: 0px;
}

.ul_product li {
	float: left;
	line-height: 30px;
	height: 30px;
}

.productinfo_img {
	width: 180;
	height: 130px;
	margin-left: 0px;
}

.productinfo_name {
	width: 180;
	height: 20px;
	margin-top: 10px;
	text-align: center;
}

.productinfo_imgstyle {
	padding: 10px 19px 10px 19px;
}

.productinfo_price {
	width: 180;
	height: 50px;
	margin-left: 20px;
}

.tip_remark {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	padding-left: 0px;
	padding-bottom: 20px;
	height: 100%;
	background-color: #F5E9CA
}

.tip_remark_repeat {
	margin-right: 53px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	height: 100%;
	border: 1px solid #CFCFCF;
}

.product_choose {
	padding-left: 0px;
	padding-bottom: 20px;
	height: 100%;;
	border: 1px solid #CFCFCF;
}

.repeatorder_bg {
	width: 800px;
	height: 382px;
	background-image: url(../../images/blue-themes/procuts.png);
}

.repeatorder_pic {
	width: 364px;
	height: 205px;
	padding: 65px 1px 0px 64px;
	float: left;
}

.repeatorder_info {
	float: left;
	width: 370px;
	height: 300px;
}

.choose_btn {
	float: left;
	height: 50px;
	margin: 30px 0px 0px 50px;
}

.img_div {
	width: 207px;
	height: 106px;
	margin: 70px 0px 0px 90px;
}

.img_size {
	width: 205px;
	height: 49px;
}

.box scroll_three {
	height: 422px;
}



.search_tab {
	width: 188px;
	margin-right: 0px;
	color: #1E2E79;
	float: left;
	cursor: pointer;
}

.search_tab_bottom {
	background-color: #5055B0;
	height: 5px;
	border: 1px solid #5055B0;
	margin-top: -1px;
	font-size: 0px;
}

#tradeRecords {
	width: 100%;
	height: 100%;
}

#tradeRecords_repeat {
	width: 100%;
}

#tradeRecords td,th {
	border: 1px solid #CFCFCF;
	height: 30px;
}

.th_id {
	width: 150px;
}

.th_date {
	width: 120px;
}

.th_name {
	
}

.th_fund {
	width: 80px;
}

.th_opt {
	width: 80px;
}

.th_status {
	width: 100px;
}

.th_remark {
	width: 100px;
}

.th_account {
	width: 140px;
}

.td_id {
	text-align: center;
}

.td_date {
	text-align: center;
}

.td_name {
	text-align: center;
}

.td_fund {
	color: #BF6705;
	text-align: right;
	font-weight: bold;
}

.td_opt {
	text-align: center;
}

.td_status {
	text-align: center;
}

.td_operation {
	text-align: center;
}

.td_remark {
	overflow: hidden;
	text-overflow: ellipsis;
}

.td_account {
	text-align: center;
	word-wrap: break-word;
}

#detail_dialog td {
	padding: 5px;
	border: 1px solid #CFCFCF;
}

#cancle_dialog td {
	padding: 5px;
	border: 1px solid #CFCFCF;
}

.ul_button {
	padding-left: 150px;
}

.ul_button li {
	float: left;
	line-height: 30px;
	height: 30px;
}

#record_fund {
	color: #BF6705;
}

.bank_pay_step {
	background-image: url(../../images/blue-themes/sub_nav_bg.gif);
	height: 33px;
}
.tab_split_step {
	background-image: url(../../images/blue-themes/sub_nav_bg.gif);
	height: 33px;
	text-align: left;
	font-style: italic;font-weight: bold;
	border-top: 1px solid #cfcfcf;
	padding-top: 6px;
	margin-top: 30px;
}

.ul_step * {
	vertical-align: middle;
	list-style: none;
	font-size: 14px;
	margin-top: 2px;
}

.ul_step_repeat * {
	vertical-align: middle;
	list-style: none;
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
	padding-left: 350px;
}

.ul_1 {
	font-size: 20px;
	margin-left: 0px;
}

.ul_2 {
	font-size: 20px;
}

.step_1img {
	margin-left: 0px;
}

.step_1txt {
	color: #FF9900;
	font-weight: bold;
}

.withdraw_confirm {
	margin: 50px 80px 0 80px;
}

.confirm_tips {
	color: #FE4F00;
	font-weight: bold;
}

.confirm_div {
	margin: 15px 0 10px 0;
}

.confirm_div td {
	border: 1px solid #CFCFCF;
	font-size: 14px;
	padding: 5px 10px 5px 10px;
}

.table_title {
	text-align: right;
	width: 220px;
}

.notice {
	background-color: #FFEFE5;
	border: 1px solid #FFBA75;
	margin-bottom: 20px;
}

.confirm_btn_area {
	margin: 20px 0 0 270px;
}

.agreement_area {
	margin: 20px 0 0 300px;
}

.bank_pay_prompt {
	height: 32px;
	padding-left: 20px;
	padding-top: 10px;
}

.ul_prompt {
	list-style: none;
	margin-top: 10px;
	font-size: 14px;
	vertical-align: middle;
	font-weight: bold;
}

.ul_prompt li {
	line-height: 14px;
	margin-left: 0px;
}

.ul_prompt li img {
	vertical-align: middle;
}

.logodiv {
	float: left;
	font-size: 16px;
	font-weight: bold;
}

.ad_right {
	float: left;
	width: 175px;
	height: 491px;
	margin-left: 10px;
}

.ad_left {
	border: 1px solid #ABB1D5;
	float: left;
	width: 100%;
	height: auto;
	min-height: 490px;
	margin-right: 1px;
}

.detailtitle1 {
	font-weight: bold;
	font-size: 15px;
	float: left;
	margin-left: 30px;
	margin-top: 10px;
}

.detailtitle2 {
	font-size: 14px;
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}

.detailtitle3 {
	font-size: 14px;
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-right: 20px;
}

.detailtitle4 {
	font-weight: bold;
	font-size: 15px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

.split_xpx {
	background-color: #ABB1D5;
	font-size: 0;
	height: 1px;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 35px;
}

.split_ypx {
	background-color: #ABB1D5;
	font-size: 0;
	height: 1px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 20px;
}

.detail_center {
	height: 300px;
	margin-left: 30px;
	margin-top: 10px;
}

.center_left {
	width: 323px;
	height: 300px;
	float: left;
}

.center_right {
	width: 400px;
	height: 300px;
	float: left;
	font-size: 15px;
}

.center_right_text1 {
	margin: 50px 0px 0px 30px;
	font-size: 15px;
	font-weight: bold;
	color: #E68209
}

.center_right_text2 {
	margin: 20px 0px 0px 30px;
	font-size: 15px;
	height: 30px;
}

.center_right_text3 {
	margin: 20px 0px 0px 30px;
	font-size: 15px;
	height: 30px;
}

.detail_down {
	float: left;
	margin-top: 50px;
	min-height: 110px;
	width: 100%;
	height: auto;
	font-size: 14px;
}

.detail_pic {
	float: right;
	margin-top: 32px;
}

.ul_prompt_dot {
	list-style: none;
	vertical-align: middle;
	float: left;
}

.ul_prompt_dot li {
	float: left;
	background: url("../../images/blue-themes/li_style.gif") no-repeat
		scroll left center transparent;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 180px;
}
/**商品地步***/
.cc_tabTitle {
	background: url("../../images/blue-themes/tabbg.jpg") repeat-x ;
	float: left;
	height: 53px;
	position: relative;
	width: 940px;
	line-height: 30px;
	z-index: 1;
}
.cc_top{
	position: fixed;
	top: 0px;
	
}
.cc_tabTitleFix {
	float: left;
	width: 100%;
}

.cc_tabTitleFix li {
	float: left;
	margin-right: 10px;
}

.cc_tabTitleFix li a {
	background: none repeat scroll 0 0 #999999;
	border-radius: 3px 3px 0 0;
	color: #FFFFFF;
	display: block;
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	width: 136px;
}

.cc_tabTitleFix .selected {
	background: none repeat scroll 0 0 #FF6600;
}

.ccBox2 {
	float: left;
	width: 100%;
}

.ccBox2 .fbg {
	border-bottom: 1px dashed #DCDCDC;
	float: left;
	padding-bottom: 20px;
	width: 100%;
}

.cc_cpList {
	float: left;
	margin-top: 20px;
	width: 100%;
}

.cc_cpList li {
	float: left;
	height: 187px;
	padding: 47px 20px 0 180px;
	width: 198px;
}

.cc_cpList li span {
	color: #0066CC;
	float: left;
	font-size: 24px;
	text-align: left;
	width: 100%;
}

.cc_cpList li p {
	color: #666666;
	float: left;
	font-size: 14px;
	line-height: 24px;
	margin-top: 10px;
	width: 100%;
}

.cc_cpList .cpList_qy1 {
	background: url("../../images/blue-themes/cc_qy_img02.png") no-repeat
		scroll 24px 47px ;
	height: 186px;
}

.cc_cpList .cpList_qy2 {
	background: url("../../images/blue-themes/cc_qy_img03.png") no-repeat
		scroll 24px 47px ;
	height: 186px;
}

.cc_cpList .cpList_qy3 {
	background: url("../../images/blue-themes/cc_qy_img04.png") no-repeat
		scroll 24px 47px ;
	height: 186px;
}

.cc_cpList .cpList_qy4 {
	background: url("../../images/blue-themes/cc_qy_img05.png") no-repeat
		scroll 24px 47px ;
	height: 186px;
}

.cc_cpList .cpList_qy5 {
	background: url("../../images/blue-themes/cc_qy_img06.png") no-repeat
		scroll 24px 47px ;
	height: 186px;
}

.cc_cpList .cpList_qy6 {
	background: url("../../images/blue-themes/cc_qy_img07.png") no-repeat
		scroll 24px 47px ;
	height: 186px;
}

.cc_cpList .cpList_qy7 {
	background: url("../../images/blue-themes/cc_qy_img08.png") no-repeat
		scroll 24px 47px ;
	height: 186px;
}

.cc_cpList .cpList_qy8 {
	background: url("../../images/blue-themes/cc_qy_img09.png") no-repeat
		scroll 24px 47px ;
	height: 186px;
}

.cc_cpList .cpList_qy9 {
	background: url("../../images/blue-themes/cc_qy_img10.png") no-repeat
		scroll 24px 47px ;
	height: 186px;
}

.n_title01 {
	color: #333333;
	float: left;
	font-size: 22px;
	height: 26px;
	line-height: 26px;
	width: 100%;
}

#promises {
	border-top: 1px dotted #DEDEDE;
	overflow: hidden;
	padding: 10px;
}

#state {
	border-top: 1px dotted #DEDEDE;
	overflow: hidden;
	padding: 10px;
	margin-bottom: 50px;
}

.item-detail {
	padding: 10px;
}
.tab_div {
	float: left;
	margin-top: 20px;
}
/**评论**/

#con_menu_3 .item {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-top: 18px;
    padding: 0 0 2px 0px;
    float: left;
}
#con_menu_3 .user {
    color: #9C9A9C;
    left: 0;
    text-align: center;
    top: 10px;
    width: 120px;
    float: left;
}

#con_menu_3 .user a {
    color: #005AA0;
}
#con_menu_3 .u-icon img {
    background: url("../../images/blue-themes/avatar-bg.png") no-repeat scroll 0 0 ;
    height: 50px;
    padding: 8px;
    width: 50px;
}

#con_menu_3 .user .u-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 120px;
}
.u-name a {
    color: #005AA0;
}
#con_menu_3 .i-item {
    background: none repeat scroll 0 0 #FCFFFA;
    border: 1px solid #D0E4C2;
    padding: 10px 15px 5px;
    margin-right: 10px;
    float: left;
}
#con_menu_3 .o-topic {
    border-bottom: 1px solid #D0E4C2;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0 0 2px;
}
#con_menu_3 .star {
    float: left;
    margin: 1px 0 0 5px;
}
.sa5 {
    background-position: -109px -239px;
}
.star {
    display: inline-block;
    height: 14px;
    width: 75px;
}

#con_menu_3 .topic {
    float: left;
}
#con_menu_3 .comment-content dl {
    overflow: hidden;
    padding: 2px 0;
}

#con_menu_3 .comment-content dt {
    color: #9C9A9C;
    float: left;
    text-align: right;
    width: 62px;
}
#con_menu_3 .comment-content dd {
    float: left;
    width: 530px;
    word-wrap: break-word;
}
q:before, q:after {
    content: "";
}
q:before, q:after {
    content: "";
}
q:before, q:after {
    content: "";
}
q:before, q:after {
    content: "";
}
.comm-tags {
    background: none repeat scroll 0 0 #FDEDD2;
    float: left;
    height: 21px;
    line-height: 21px;
    margin-right: 5px;
    padding: 0 7px;
}

#con_menu_3 .dl-extra {
    clear: both;
}
#con_menu_3 .item .btns {
    clear: both;
    line-height: 20px;
    overflow: hidden;
    padding-left: 600px;
}

#con_menu_3 .text_style {
    border: 1px solid #9D9D9B;
    height: 20px;
    line-height: 20px;
    width: 600px;
}
#con_menu_3 .reply-lz {
    border: 0 none;
}
#con_menu_3 .item-reply {
    border-top: 1px dotted #F7E7C6;
    padding-left: 50px;
}
#con_menu_3 .comment-content{
	min-height: 50px;
	}
.reply-list {
    padding: 5px;
}

.replay-form .arrow {
    display: inline;
    float: right;
    margin-right: 2.5em;
}
.arrow {
    background: none repeat scroll 0 0 #FFFFFF;
    font: 12px/12px simsun;
    height: 6px;
    overflow: hidden;
    position: relative;
    top: 1px;
    width: 11px;
    z-index: 1;
}

.reply-wrap {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #D9D9D9;
    clear: both;
    margin-bottom: 5px;
    padding: 0 10px 10px;
}

.fl {
    float: left;
}

.clr {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
.btn-gray {
    background: -moz-linear-gradient(center top , #F7F7F7, #F2F2F2) repeat scroll 0 0 ;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    color: #333333;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
#con_menu_3 .tl {
    background-position: -259px -47px;
    height: 26px;
    left: 108px;
    top: 20px;
    width: 14px;
}
#con_menu_3 .corner {
    overflow: hidden;
    position: absolute;
}
.spec-control, #store-selector .text b, #choose .selected b, .slogens b, #brand-bar .slogens .fore2, #brand-bar .slogens .fore4, .star, .wrap-input a, #brand-bar .slogens dt, #brand-bar .seller-btn a, .itemover-title button, .topic .icon, #ranklist .tabcon span, #comment .btn-comment, #recomment .master s, .topic-best, .master s, .suits li s, #recommend .infos s, #favorable-suit .infos s, .btn-buy, #product-detail .detail-correction b, div.nav-minicart-buynow a, #consult-search .btn-search, #con_menu_3 .tl, .item-warnning s, .share-list-item a, .share-ft b, #view-bigimg, #tab-services table td .btn-buy, #evaluate s, #evaluate-detail s, .li-img a b, #store-selector .close, .extra-ico, .f-sercvice-list b, .btn-append-extra, .u-name a b, #more-fitting-link b, #summary-countdown s, .s-item .active b, #product-detail .p-tab s, .m3 .p-info s {
    background-image: url("../../images/blue-themes/newicon20140417.png");
    background-repeat: no-repeat;
}
#con_menu_2 .one_artic{
	margin-bottom: 15px;
}
